body{
    background-color: grey;
}

img{
    height: 200px;
    width: 350px;
    border-style: solid;
    border-width: medium;
    border-color: purple;
}

li{
    display: inline;
}

p{
    color: purple;
}